// Header, footer, navigation, section 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h1 {
  color:#1164F3;
  font-size: 55px;
  line-height: 64px;
  font-family: "Domine", serif;
  margin-bottom: 24px;
  .mobile {
    display: none;
  }
}
.custom-columns {
  display: flex;
  flex-direction: row;
  text-align:center;
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background: #1164F3;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  line-height: 17px;    
  letter-spacing: 0.2px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 150%;
  left: 50%;
  margin-left: -170px;
  &:after {
    border-color: #1164F3 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    bottom: -8px;
    content: "";
    position: absolute;
    right: 20px;    
  }
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.modal {
  z-index: 99;
  max-width: 800px;
  padding: 60px 60px 90px;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  h3 {
    color: #1164F3;
    font-weight: 300;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 48px;
  }
  a {
    color: #BD2380;
    text-decoration: none;
  }
  a.close-modal {
    background-image: url(../img/close.svg);
    top: 32px;
    right: 32px;
    width: 14px;
    height: 14px;
    position: absolute;
    display: block;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.blocker {
  z-index: 99;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
  }
}
.tier {
  border-radius: 4px 4px 0 0;
  border: 1px solid  rgba(0, 0, 0, 0.18);
  background: #ffffff;
  max-width: 261px;
  width: 100%;
  border-bottom: none;
  border-top: none;
}
.left-tier {
  flex-grow: 1;
}
section.hero {
  padding: 60px 0;
  background-color: #ffffff;
  p {
    color: #676565;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
}
section.pricing-features-mobile {
  display: none;
}
/* This div has to be the same height as section.pricing. 
Adding this div fixes a "jumping" issue that occurs on scroll */
.sticky-pricing-fix {
  height: 346px;
}
section.pricing {
  z-index: 2;
  .left-tier {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    p {
      color: #676565;
      font-size: 14px;
      line-height: 20px;
      .save {
        color: #409B66;
        font-size: 28px;
        line-height: 25px;
      }
      .italic {
        font-size: 8px;
        font-style: italic;
      }
    }
  }
  .tier {
    border-radius: 4px 4px 0 0;
    border: 1px solid  rgba(0, 0, 0, 0.18);
    background: #ffffff;
    max-width: 261px;
    width: 100%;
    padding: 28px 0;
    border-bottom: none;
    h2 {
      font-size: 45px;
      line-height: 36px;
      letter-spacing: -0.8px;
      font-weight: 600;
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    h3 {
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    h4 {
      position: relative;
      color: #DCDCDC;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 8px;
      &:before { 
        content: '';
        position: absolute;
        bottom: 50%;
        border: #DCDCDC 1px solid;
        width: 92px;
        z-index:0;
      }
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }
    p {
      color: rgba(0, 0, 0, 0.68);
      font-size: 14px;
      margin-bottom: 12px;
      &.bold {
        font-weight: 600;
      }
    }
    &.starter {
      border-top: solid 20px#8C2F9A;
      color: #8C2F9A;
    }
    &.website {
      border-top: solid 20px#4B45CD;
      color: #4B45CD;
    }
    &.marketing {
      border-top: solid 20px#1164F3;
      color: #1164F3;
    }
    button.add-to-cart {
      line-height: 10px;
      height: 40px;
      padding: 12px 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      border-radius: 4px;
      background-color: #BD2380;
      border: none;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
section.features {
  h2 {
    background-color: #F5F5F5;
    padding: 18px 24px;
    color: #000000;
    font-size: 20px;
    line-height: 28px;
  }
  p {
    font-size: 16px;
    &.disclaimer {
      text-align: left;
      font-size: 13px;
      line-height: 20px;
      color: #7C7C7C;
      a {
        color: #BD2380;
        text-decoration: none;
        &:hover {
          opacity: .75;
          transition: .5s;
        }
      }
    }
  }
  .left-tier {
    padding: 10px 24px 18px;
    text-align:left;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: #ffffff;
    border-bottom: none;
    border-top: none;
    border-right: none;
    p {
      border-bottom: 1px solid #c6c6c6;
      min-height: 43.89px;
      line-height: 20px;
      padding: 10px 0;
      font-size: 16px;
      letter-spacing: -0.4px;
    }
  }
  .tier {
    padding: 10px 24px 18px;
    border-radius: 0;
    .item {
      display: block;
      border-bottom: 1px solid #c6c6c6;
      min-height: 43.89px;
      display: flex;
      justify-content: center;
      p {
        padding: 10px 0;
        line-height: 23.89px;
      }
    }
  }
  .last-row {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 40px;
  }
}
section.gallery {
  .gallery--ppcLp { background: #f4f4f4; padding: 60px 0; text-align: center; color: #656565;}
  .gallery--ppcLp h3 { font-size: 33.57px; font-weight: 300; line-height: 44px; margin: 0 0 10px; }
  .gallery--ppcLp p { font-size: 18px; line-height: 36px; margin: 0 0 40px; }
  .gallery--card {background: #fff; padding: 10px 10px 30px; transition: box-shadow 150ms ease-in-out; cursor: pointer; border-radius: 4px; box-shadow: 0 0 4px 0 rgba(0,0,0,0.24) ;}
  .gallery--card img { max-width: 100%; }
  .gallery--card p { margin: 0 0 20px; color: #0039A8; font-size: 13px; line-height: 24px; }
  .gallery--card .btn { background: #981c67; color: #fff; }
  .gallery--card:hover .btn { box-shadow:0px 5px 20px 3px rgba(121,22,82,0.3);}
  .gallery--modal { display: none; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(255,255,255,.88); z-index: 10;}
  .gallery--modalCard { display: block; background: #fff; box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px 0 rgba(0,0,0,0.2); border-radius: 8px; height: 80%; width: 90%; }
  .gallery--modalCard iframe { border: 0; width: 100%; height: 88%; }
  .gallery--open { display: flex; }
  .gallery--close { float: right; width: 41px; margin: 21px; cursor: pointer; box-shadow: none;}
  .gallery--close { float: right; width: 41px; margin: 21px; cursor: pointer; }
  .gallery--modalOpen { overflow: hidden; }
  padding: 100px 0;
  h1, p {
    text-align:center;
  }
  p {
    margin-bottom: 60px;
    font-size: 24px;
  }
  p.examples {
    font-size: 18px;
    margin-top: 48px;
  }
  img {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.06);
  }
  .image-example {
    position: relative;
    height: 200px;
    &:hover {
      .overlay {
        display: block;
        background: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
      }
      img {
        opacity: .35;
        transition: opacity .5s ease;
      }
      .button {
        opacity: 1;
      }
    }
  }
  .button {
    position: absolute;
    top: 40%;
    left: 32%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
    padding: 12px 32px;
    text-align: center;
    color: white;
    background: #1164F3;
    z-index: 1;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: .5px;
    a {
      padding: 12px 32px;
      text-align: center;
      color: white;
      background: #1164F3;
      z-index: 1;
      border-radius: 4px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13.5px;
      font-weight: 700;
      letter-spacing: .5px;
    }
  }
}
@media screen and (max-width:768px) {
  section.pricing, section.features, .sticky-pricing-fix {
    display: none;
  }
  section.hero {
    h1 {
      font-size: 35px;
      line-height: 43px;
      text-align: center;
      .mobile {
        display: block;
      }
    }
    p {
      display: none;
    }
    img {
      max-width: 282px;
      max-height: 162px;
    }
    .image-center {
      justify-content: center;
      display:flex;
    }
  }
  section.pricing-features-mobile {
    display: block;
    .container {
      width: 100%;
    }
    .responsive-padding {
      padding-bottom: 20px;
    }
    #starter, #website, #marketing {
      display: none;
      &.active {
        display: block;
      }
      &.active-padding {
        padding-top: 60px;
      }
      &.inactive {
        display: none;
      }
    }
    .fixed {
      display: flex;
      position: fixed;
      top: 0;
      left: 15px;
      right: 15px;
      margin-top: 0!important;
      z-index:10;
    }
    .sticky-tabs-fix {
      height: 60px;
    }
    .tabs {
      z-index: 2;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      transition: .5s;
      background: #ffffff;
        .mobile-tab {
          flex-grow: 1;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            width: 100%;
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &.tab1 {
            color: #8C2F9A;
            border: solid 1px #8C2F9A;
            border-radius: 4px 0 0 4px;
            transition: .5s;
            &:hover, &.active {
              background: #8C2F9A;
              a {
                color: #fff;
                text-decoration: none;
                transition: .5s;
              }
            }
            a {
              color: #8C2F9A;
            }
          }
          &.tab2 {
            color: #4B45CD;
            border: solid 1px #4B45CD;
            transition: .5s;
            border-left: none;
            border-right: none;
            &:hover, &.active {
              background: #4B45CD;
              a {
                color: #fff;
                text-decoration: none;
                transition: .5s;
              }
            }
            a {
              color: #4B45CD;
            }
          }
          &.tab3 {
            color: #1164F3;
            border: solid 1px #1164F3;
            border-radius: 0 4px 4px 0;
            transition: .5s;
            &:hover, &.active {
              background: #1164F3;
              a {
                color: #fff;
                text-decoration: none;
                transition: .5s;
              }
            }
            a {
              color: #1164F3;
            }
          }
        a {
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
      
    }
    h2 {
      font-size: 45px;
      line-height: 36px;
      letter-spacing: -0.8px;
      font-weight: 600;
      text-align: center;
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    h3 {
      text-align: center;
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    h4 {
      position: relative;
      color: #DCDCDC;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 8px;
      text-align: center;
      &:before { 
        content: '';
        position: absolute;
        bottom: 50%;
        border: #DCDCDC 1px solid;
        width: 92px;
        z-index:0;
      }
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }
    p {
      text-align: center;
      color: #676565;
      font-size: 14px;
      line-height: 20px;
      .save {
        color: #409B66;
        font-size: 28px;
        line-height: 25px;
      }
      .italic {
        font-size: 8px;
        font-style: italic;
      }
      &.bold {
        font-weight: 600;
        margin-bottom: 12px;
      }
      &.top-features {
        text-transform: uppercase;
        font-weight: 700;
      }
      &.feature {
        font-size: 16px;
        line-height:24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
        text-align: left;
        margin-bottom: 0;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
      }
      &.disclaimer {
        text-align: left;
        font-size: 13px;
        line-height: 20px;
        color: #7C7C7C;
        margin-top: 16px;
        a {
          color: #BD2380;
          text-decoration: none;
          &:hover {
            opacity: .75;
            transition: .5s;
          }
        }
      }
    }
    button.add-to-cart {
      line-height: 10px;
      height: 40px;
      padding: 12px 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      border-radius: 4px;
      background-color: #BD2380;
      border: none;
      margin: 24px 0 28px;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
    .starter-color {
      color: #8C2F9A;
    }
    .website-color {
      color: #4B45CD;
    }
    .marketing-color {
      color: #1164F3;
    }
    .tier-top {
      border-radius: 4px;
      border: 1px solid  rgba(0, 0, 0, 0.18);
      background: #ffffff;
      padding: 28px;
      text-align: center;
      margin: 15px;
    }
    .tier-middle {
      .grey-bg {
        width: 100%;
        background-color: #F5F5F5;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 24px;
        padding: 0 15px;
      }
      .feature-mobile {
        p {
          line-height: 24px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.18);
          font-size: 16px;
          text-align: left;
          padding: 10px 0;
        }
      }
    }
    .tier-bottom {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h4 {
        margin-top: 48px;
      }
      hr {
        background: rgba(0, 0, 0, 0.18);
        max-width: 215px;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  section.gallery {
    padding: 75px 0;
    h1 {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 35px;
      line-height: 44px;
    }
    p {
      font-size: 24px;
      line-height: 29px;
      color: #676565;
      &.examples {
        margin: 24px 0 36px;
      }
    }
    img {
      position: relative;
    }
    .image-example {
      height: auto;
        &:visited, &:hover {
          img {
            opacity: 1;
          }
        .button {
          opacity: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  section.gallery {
    .gallery--modalCard {
        height: 100vh;
        width: 100%;
    }
  }
}
@media screen and (max-width: 480px) {
  section.pricing-features-mobile {
    display: block;
    .container {
      width: 100%;
    }
    #starter, #website, #marketing {
      display: none;
      &.active {
        display: block;
      }
      &.active-padding {
        padding-top: 60px;
      }
      &.inactive {
        display: none;
      }
    }
    .fixed {
      display: flex;
      position: fixed;
      top: 0;
      left: 15px;
      right: 15px;
      margin-top: 0!important;
      z-index:10;
    }
    .sticky-tabs-fix {
      height: 60px;
    }
    .tabs {
      z-index: 2;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      transition: .5s;
      background: #ffffff;
        .mobile-tab {
          flex-grow: 1;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            width: 100%;
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &.tab1 {
            color: #8C2F9A;
            border: solid 1px #8C2F9A;
            border-radius: 4px 0 0 4px;
            transition: .5s;
            &:hover, &.active {
              background: #8C2F9A;
              a {
                color: #fff;
                text-decoration: none;
                transition: .5s;
              }
            }
            a {
              color: #8C2F9A;
            }
          }
          &.tab2 {
            color: #4B45CD;
            border: solid 1px #4B45CD;
            transition: .5s;
            border-left: none;
            border-right: none;
            &:hover, &.active {
              background: #4B45CD;
              a {
                color: #fff;
                text-decoration: none;
                transition: .5s;
              }
            }
            a {
              color: #4B45CD;
            }
          }
          &.tab3 {
            color: #1164F3;
            border: solid 1px #1164F3;
            border-radius: 0 4px 4px 0;
            transition: .5s;
            &:hover, &.active {
              background: #1164F3;
              a {
                color: #fff;
                text-decoration: none;
                transition: .5s;
              }
            }
            a {
              color: #1164F3;
            }
          }
        a {
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
      
    }
    h2 {
      font-size: 45px;
      line-height: 36px;
      letter-spacing: -0.8px;
      font-weight: 600;
      text-align: center;
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    h3 {
      text-align: center;
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    h4 {
      position: relative;
      color: #DCDCDC;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 8px;
      text-align: center;
      &:before { 
        content: '';
        position: absolute;
        bottom: 50%;
        border: #DCDCDC 1px solid;
        width: 92px;
        z-index:0;
      }
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }
    p {
      text-align: center;
      color: #676565;
      font-size: 14px;
      line-height: 20px;
      .save {
        color: #409B66;
        font-size: 28px;
        line-height: 25px;
      }
      .italic {
        font-size: 8px;
        font-style: italic;
      }
      &.bold {
        font-weight: 600;
        margin-bottom: 12px;
      }
      &.top-features {
        text-transform: uppercase;
        font-weight: 700;
      }
      &.feature {
        font-size: 16px;
        line-height:24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
        text-align: left;
        margin-bottom: 0;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
      }
      &.disclaimer {
        text-align: left;
        font-size: 13px;
        line-height: 20px;
        color: #7C7C7C;
        margin-top: 16px;
        a {
          color: #BD2380;
          text-decoration: none;
          &:hover {
            opacity: .75;
            transition: .5s;
          }
        }
      }
    }
    button.add-to-cart {
      line-height: 10px;
      height: 40px;
      padding: 12px 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      border-radius: 4px;
      background-color: #BD2380;
      border: none;
      margin: 24px 0 28px;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
    .starter-color {
      color: #8C2F9A;
    }
    .website-color {
      color: #4B45CD;
    }
    .marketing-color {
      color: #1164F3;
    }
    .tier-top {
      border-radius: 4px;
      border: 1px solid  rgba(0, 0, 0, 0.18);
      background: #ffffff;
      padding: 28px;
      text-align: center;
      margin: 15px;
    }
    .tier-middle {
      .grey-bg {
        width: 100%;
        background-color: #F5F5F5;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 24px;
        padding: 0 15px;
      }
      .feature-mobile {
        p {
          line-height: 24px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.18);
          font-size: 16px;
          text-align: left;
          padding: 10px 0;
        }
      }
    }
    .tier-bottom {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h4 {
        margin-top: 48px;
      }
      hr {
        background: rgba(0, 0, 0, 0.18);
        max-width: 215px;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  .modal {
    padding: 20px 20px 40px;
    h3 {
      font-size: 24px !important;
      line-height: 30px;
      margin-bottom: 24px;
    }
    p {
      font-size: 12px;
    }
    a.close-modal {
      top: 16px;
      right: 16px;
    }
  }
}
@-ms-viewport{
  width: device-width;
}