// Header, footer, navigation, section 
// body {
//   overflow:hidden;
// }
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h1 {
  color:#1164F3;
  font-size: 55px;
  line-height: 64px;
  font-family: "Domine", serif;
  margin-bottom: 24px;
  .mobile {
    display: none;
  }
}
p {
  color: #676565;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}
.custom-columns {
  display: flex;
  flex-direction: row;
  text-align:center;
}
.tier {
  border-radius: 4px 4px 0 0;
  border: 1px solid  rgba(0, 0, 0, 0.18);
  background: #ffffff;
  max-width: 261px;
  width: 100%;
  border-bottom: none;
  border-top: none;
}
.left-tier {
  flex-grow: 1;
}
section.hero {
  padding: 60px 0;
  background-color: #ffffff;
}
section.pricing-mobile {
  display: none;
}
section.pricing {
  .left-tier {
    justify-content: center;
    align-items: center;
    display: flex;
    p {
      color: #676565;
      font-size: 14px;
      line-height: 20px;
      .save {
        color: #409B66;
        font-size: 28px;
        line-height: 25px;
      }
      .disclaimer {
        font-size: 8px;
        font-style: italic;
      }
    }
  }
  .tier {
    border-radius: 4px 4px 0 0;
    border: 1px solid  rgba(0, 0, 0, 0.18);
    background: #ffffff;
    max-width: 261px;
    width: 100%;
    padding: 28px 0;
    border-bottom: none;
    h2 {
      font-size: 45px;
      line-height: 36px;
      letter-spacing: -0.8px;
      font-weight: 600;
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    h3 {
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    h4 {
      position: relative;
      color: #DCDCDC;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 8px;
      &:before { 
        content: '';
        position: absolute;
        bottom: 50%;
        border: #DCDCDC 1px solid;
        width: 85px;
        z-index:0;
      }
      .month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }
    p {
      color: rgba(0, 0, 0, 0.68);
      font-size: 14px;
      margin-bottom: 12px;
      &.bold {
        font-weight: 600;
      }
    }
    &.starter {
      border-top: solid 20px#8C2F9A;
      color: #8C2F9A;
    }
    &.website {
      border-top: solid 20px#4B45CD;
      color: #4B45CD;
    }
    &.marketing {
      border-top: solid 20px#1164F3;
      color: #1164F3;
    }
    button.add-to-cart {
      line-height: 10px;
      height: 40px;
      padding: 12px 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      border-radius: 4px;
      background-color: #BD2380;
      border: none;
    }
  }
}
section.features {
  h2 {
    background-color: #F5F5F5;
    padding: 18px 24px;
    color: #000000;
    font-size: 20px;
    line-height: 28px;
  }
  p {
    font-size: 16px;
  }
  p.disclaimer {
    color: #7C7C7C;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .left-tier {
    padding: 10px 24px 18px;
    text-align:left;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: #ffffff;
    border-bottom: none;
    border-top: none;
    p {
      border-bottom: 1px solid #c6c6c6;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      letter-spacing: -0.4px;
    }
  }
  .tier {
    padding: 10px 24px 18px;
    border-radius: 0;
    .item {
      display: block;
      border-bottom: 1px solid #c6c6c6;
      height: 40px;
      display: flex;
      justify-content: center;
      p {
        line-height: 40px;
      }
    }
  }
  .last-row {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 40px;
  }
}
section.gallery {
  padding: 100px 0;
  h1, p {
    text-align:center;
  }
  p {
    margin-bottom: 60px;
  }
  p.examples {
    font-size: 16px;
    margin-top: 48px;
  }
  img {
    width: 100%;
    position: absolute;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.06);
  }
  .image-example {
    position: relative;
    height: 200px;
    &:hover {
      .overlay {
        display: block;
        background: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
      }
      img {
        opacity: .35;
        transition: opacity .5s ease;
      }
      .button {
        opacity: 1;
      }
    }
  }
  .button {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
    a {
      padding: 12px 32px;
      text-align: center;
      color: white;
      background: #1164F3;
      z-index: 1;
      border-radius: 4px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13.5px;
      font-weight: 700;
      letter-spacing: .5px;
    }
  }
}
@media screen and (max-width:414px) {
  section.pricing, section.features, section.gallery {
    display: none;
  }
  section.hero {
    h1 {
      font-size: 35px;
      line-height: 43px;
      text-align: center;
      .mobile {
        display: block;
      }
    }
    p {
      display: none;
    }
    img {
      max-width: 282px;
      width: 100%;
    }
    .image-center {
      justify-content: center;
      display:flex;
    }
  }
  section.pricing-mobile {
    display: block;
    p {
      text-align: center;
      color: #676565;
      font-size: 14px;
      line-height: 20px;
      .save {
        color: #409B66;
        font-size: 28px;
        line-height: 25px;
      }
      .disclaimer {
        font-size: 8px;
        font-style: italic;
      }
    }
  }
}